#app {
    .first-header {
        display: flex;
        flex-direction: row;
        width: 60%;
        justify-content: space-between;
        align-items: flex-end;

        .first-header-content {
            color: #fff;
            font-size: 24px;
            letter-spacing: -1px;
            font-weight: 600;
            margin: 0 1rem;
            margin-bottom: 2rem;

            img {
                position: relative;
                top: 10px;
            }

            input[type='checkbox'] {
                zoom: 1.5;
            }

            .user-profile-menu {
                position: relative;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 1rem;
                cursor: pointer;
                user-select: none;

                .profile-photo img {
                    width: 70px;
                    height: 70px;
                    clip-path: circle();
                    object-fit: contain;
                }

                .menu {
                    align-self: baseline;
                    img {
                        image-rendering: optimizeQuality;
                    }

                    .menu-widget {
                        font-size: 22px;
                        background: #fff;
                        position: absolute;
                        color: #000;
                        cursor: auto;
                        user-select: none;
                        right: 0;
                        width: 190px;
                        border-radius: 5px;
                        font-weight: 600;
                        z-index: 1;
                        box-shadow: -5px 6px 0px rgb(0 0 0);
                        border: 1px solid #b3b3b3;
                        color:#6b6b6b;
                        box-sizing: border-box;

                        li {
                            list-style: none;
                            cursor: pointer;
                            padding: .7rem 1rem;

                            &:hover {
                                color:#000;
                                background-color: #eeeeee;
                            }
                        }
                    }
                }
            }
        }
    }

    .lobby-container {
        opacity: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .lobby {
        position: relative;
        border-radius: 10px;
        background: #0096dc;
        background: radial-gradient(#63bce3, #3e6bd9);
        box-shadow: -6px 10px 0px rgb(0 0 0 / 53%), 0 -11px 29px rgb(0 0 0 / 10%);
        width: 60%;
        border: 1rem solid #fff;
        margin-bottom: 80px;
        contain: content;
        overflow-y: auto;
        scroll-behavior: smooth;

        .header {
            position: sticky;
            user-select: none;
            top: 0;
            width: -webkit-fill-available;
            display: flex;
            align-items: center;
            padding: 0.5rem 3rem;
            justify-content: space-between;
            transition: background 0.6s;

            .search input {
                width: 160px;
            }

            .title {
                color: #fff;
                text-align: center;
            }
        }

        .rooms {
            padding: 0 1rem;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 0.3rem;
            justify-content: space-evenly;

            .card-label {
                .card {
                    transition: border-color 0s, box-shadow 0.3s ease-out !important;
                }

                input[type='radio'] {
                    display: none;
                    &:checked + .card {
                        border-color: red !important;
                    }
                }
            }
        }

        .controls {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            padding: 2px 1rem;
            padding-bottom: 1rem;

            .pagination {
                display: flex;
                user-select: none;
                flex-direction: row;
                gap: 20px;
                color: #fff;
                font-size: 28px;

                img {
                    cursor: pointer;
                }
            }
        }
    }
}
