.alert {
    position: fixed;
    top: 15px;
    right: 15px;
    background: #0096dc;
    width: 18rem;
    padding: 1rem;
    font-weight: bold;
    color: #fff;
    word-wrap: break-word;
    box-sizing: border-box;
    max-height: 160px;
    overflow-y: auto;
    border: 3px solid #ffffff;
    box-shadow: -3px 3px 1px rgb(0 0 0 / 27%);
    font-size: 13px;
    user-select: none;
    cursor: pointer;
    transition: opacity 0.2s;
    opacity: 0.8;

    &:hover {
        opacity: 1!important;
    }
}