

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    4.9% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    5% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }

@keyframes ldio-5xgl83h588 {
  0% { transform: scale(1.1500000000000001) }
  100% { transform: scale(1) }
}
.ldio-5xgl83h588 div {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 13.333333333333336px;
  left: 13.333333333333336px;
  background: #ed1a24;
  animation: ldio-5xgl83h588 1s cubic-bezier(0,0.5,0.5,1) infinite;
  animation-delay: -0.3s;
  border-radius: 5px;

}
.ldio-5xgl83h588 div:nth-child(2) {
  top: 13.333333333333336px;
  left: 106.66666666666666px;
  background: #0096dc;
  animation-delay: -0.2s;
  border-radius: 5px;

}
.ldio-5xgl83h588 div:nth-child(3) {
  top: 106.66666666666666px;
  left: 13.333333333333336px;
  background: #01a54e;
  animation-delay: 0s;
  border-radius: 5px;

}
.ldio-5xgl83h588 div:nth-child(4) {
  top: 106.66666666666666px;
  left: 106.66666666666666px;
  background: #fddd03;
  animation-delay: -0.1s;
  border-radius: 5px;

}
.loadingio-spinner-cube-6swp5biih6b {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: -6px 10px 0px rgb(0 0 0 / 53%), 0 -11px 29px rgb(0 0 0 / 10%);
}
.ldio-5xgl83h588 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-5xgl83h588 div { box-sizing: content-box; }


.boxLoading {
  perspective: 120px;
}

.planeLoading {
  width: 2em;
  height: 2em;
  // clip-path: circle();
  background-color: #ed1a24;
  transform: rotate(0);
  animation: flip 1s infinite;
  box-shadow: inset 0px 0px 5px #00000033;
  border: 2px solid #fff;
  border-radius: 50%;
}

@keyframes flip {
  25% {
    background-color: #0096dc;
  }
  50% {
    transform: rotateY(180deg);
    background-color: #01a54e;

  }
  75% {
    background-color: #fddd03;
  }
  100% {
    background-color: #ed1a24;
    transform: rotateY(180deg) rotateX(180deg);
  }
}