body {
    background: url('/assets/img/bg02.png') no-repeat;
    background-size: cover;
    animation: animation-background 35s ease-in-out;
    background-attachment: fixed;
    animation-fill-mode: forwards;

}

.errorInput {
    color: #a53838;
    padding: 0.5rem 0;
    display: block;
    pointer-events: none;
}


@keyframes animation-background { 
    0%{background-position:0% 5%}

    50%{background-position:0% 50%}

    100%{background-position:100%}
}