#app {
    .lobby {
        position: relative;
        border-radius: 10px;
        background: #0096dc;
        background: radial-gradient(#63bce3, #3e6bd9);
        box-shadow: -6px 10px 0px rgb(0 0 0 / 53%), 0 -11px 29px rgb(0 0 0 / 10%);
        width: 60%;
        min-height: 530px;
        border: 1rem solid #fff;
        margin-bottom: 80px;
        contain: content;
        overflow-y: auto;

        .header {
            position: sticky;
            user-select: none;
            top: 0;
            background-color: #4984dc91;
            background: radial-gradient(#63bce3c7, #3e6bd9c7);
            box-shadow: 1px 1px 5px #000;
            width: -webkit-fill-available;
            display: flex;
            align-items: center;
            padding: 1rem 3rem;
            justify-content: space-between;
            transition: background .6s;

            &:hover {
                background-color: #4984dc;
            }

            .search input {
                width: 160px;
            }

            .title {
                color: #fff;
                text-align: center;
            }
        }

        .rooms {
            padding: 1rem;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 1rem;
            justify-content: space-evenly;
        }
    }
}
