#app {
    .lobby {
        position: relative;
        border-radius: 10px;
        background: #0096dc;
        background: radial-gradient(#63bce3, #3e6bd9);
        box-shadow: -6px 10px 0px rgb(0 0 0 / 53%), 0 -11px 29px rgb(0 0 0 / 10%);
        width: 60%;
        border: 1rem solid #fff;
        margin-bottom: 80px;
        contain: content;
        overflow-y: auto;
        scroll-behavior: smooth;

        .header {
            position: sticky;
            user-select: none;
            top: 0;
            width: -webkit-fill-available;
            display: flex;
            align-items: center;
            padding: 1rem 3rem;
            justify-content: space-between;
            transition: background 0.6s;

            .search input {
                width: 160px;
            }

            .title {
                color: #fff;
                text-align: center;
            }
        }

        .rooms {
            padding: 1rem;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 1rem;
            justify-content: space-evenly;

            .card-label {
                input[type="radio"] {
                   display: none;
                    &:checked + .card {
                        border-color: red!important;
                    }
                }
            }
        }
    }
}
