#app {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100vh;

    .logo:hover {
        filter: none;
    }

    .logo img {
        zoom: 0.8;
        image-rendering: optimizeQuality;
    }

    .container {
        display: flex;
        flex-direction: column;
        transition: opacity 0.3s;
        opacity: 0;
        border-radius: 5px;
        visibility: hidden;
        pointer-events: none;
        background: #0096dc;
        box-shadow: -6px 10px 0px rgb(0 0 0 / 53%), 0 -11px 29px rgb(0 0 0 / 10%);
        width: 800px;
        height: 500px;
        border: 1rem solid #fff;
        margin-bottom: 80px;

        .content {
            padding: 1rem;
        }

        .tabs {
            display: flex;
            flex-direction: row;
            justify-content: center;
            background-color: #fff;

            .tab {
                flex-grow: 1;
                text-align: center;
                padding: 23px;
                user-select: none;
                cursor: pointer;
                font-size: 28px;
                font-weight: 600;
                box-sizing: border-box;
                height: 84px;
                background-color: #fff;
                color: #0096dc;

                &.active {
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                    background-color: #0096dc;
                    color: #fff;
                }
            }
        }
    }

    .login__avatar {
        position: relative;
        height: 250px;
        width: 250px;
        // background: black;

        .avatar-profile {
            width: 80%;
            height: 80%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background-color: #9c9c9c;
            border: 2px solid #fff;
            border-radius: 15px;
            contain: content;
            box-shadow: 7px 10px 0px #000000a8;
        }

        .reload-icon {
            position: absolute;
            left: 10px;
            bottom: 10px;
            width: 50px;
            cursor: pointer;
            user-select: none;
            transition: opacity .2s;
            
            &.rotate {
                cursor: not-allowed;
                opacity: .8;
                animation: rotate 2s infinite forwards;
            }
        }

        @keyframes rotate {
            from {
                rotate: 0deg;
            }
            to {
                rotate: 360deg;
            }
        }
    }
}
